.projects_container {
    display: flex;
    flex-direction: column;
    background-color: #16161A;
    padding: 5%;
  
    .top_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    
        h2 {
            font-size: var(--h2-font);
            line-height: 47px;
            margin: 0;
        }
    
    }
  
    .project_container .project {
        margin-bottom: 24px;
        .title {
            margin: 0;
            font-size: var(--normal-font);
            line-height: 2;

            span {
                font-size: 13px;
                color: #777778;
                margin-left:5px;
            }
        }
        
        a {
            color: #fff
        }
        
        .description {
            display: block;
            color: #777778;
            padding: 0;

            p {
                margin: 2px 0;
                width: 100%;
                color:  #777778;
                font-size: 14px;
                display: flex;
                span {
                    margin-right: 5px;
                }
            }
        }
    }
}
  
.project .go_button_container {
    display: none;
}
  
@media (max-width: 993px) {
.projects_container {
    margin: 30px 0;
}

.project .go_button_container {
    display: flex;
    margin-bottom: 20px;
    }
}